<div class="row">
    <div class="col-6">

      <div class="form-group">
        <label for="usr">Nombre de Usuario</label>
        <input type="text" [(ngModel)] = "datosRegistro.username" class="form-control">
      </div>

      <div class="form-group">
        <label for="usr">Contraseña</label>
        <input type="password" [(ngModel)] = "datosRegistro.password" class="form-control">
      </div>

      <div class="form-group">
        <label for="usr">Emailña</label>
        <input type="email" [(ngModel)] = "datosRegistro.email" class="form-control">
      </div>

      <button (click) = "registrarUsuario()" type="button" class="btn btn-primary">Registrar Usuario</button>

    </div>
  </div>