  <div class="row">
    <div class="col-6">

      <!----div class="form-group">
        <label for="usr">ID:</label>
        <input type="number" [(ngModel)] = "ticket.id" class="form-control">
      </div-->

      <div class="form-group">
        <label for="usr">Título:</label>
        <input type="text" [(ngModel)] = "ticket.Titulo" class="form-control">
      </div>

      <div class="form-group">
        <label for="usr">Descripcion:</label>
        <input type="text" [(ngModel)] = "ticket.Descripcion" class="form-control">
      </div>

      <div class="form-group">
          <label for="usr">Estado:</label>
          <select [(ngModel)] = "buffEstado" class="form-control">
            <option >Abierto</option>
            <option>Pendiente</option>
            <option>En Proceso</option>
            <option>Resuelto</option>
            <option>Cerrado</option>
          </select>
        </div>

      
      <button (click) = "agregarTicket()" type="button" class="btn btn-primary">Agregar</button>

    </div>
  </div>